.board_container{
    display: flex;
    margin: 30px auto auto auto;
    flex-direction: column;
    width: 600px;
}

.board_title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.board_title > span{
    font-size: 1.8rem;
}

.board_form_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.input_title{
    width: 400px;
}

.input_context{
    width: 500px;
    height: 200px;
    resize: none;
}