@import url(header.css);

/* 섹션 */

.table_container{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    
}

.main_noticeBorder th, td{
    border: 1px solid black;
}