@import url(header.css);

body{
    max-width :850px;
    margin: auto;
}

/* 헤더 */

.main_header{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.main_header_1 {
    display: flex;
    width: 100%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
}

.header_site_name{
    display: flex;
    font-size: 3rem;
    width: 300px;
    text-align: center;
    line-height: 100px;
    margin-left: 60px;
}

.header_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    padding-right: 10px;
}

.category_ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.category_ul li{
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 5px;
    background-color: burlywood;
    border-radius: 5px;
}

a{ text-decoration: none; }
a:active{ color: white; }
a:visited{ color: white; }
a:link{ color: white; }

.category_ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: bolder;
}

.category_ul li:hover{
    background-color: aqua;
}


.sign_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sign_span{
    width : 80px;
    height: 35px;
    background-color: gray;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}



.main_header hr{
    width : 850px;
}

.main_noticeBorder th, td{
    border: 1px solid black;
}

/* 섹션 */

.tableContainer{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    
}
