.board_view_container{
    display: flex;
    margin: 50px auto auto auto;
    flex-direction: column;
    width: 600px;
}

.board_view_div{
    display: flex;
    flex-direction: column;
}

/* board_view_div의 자식 div에서 1 ~ 2번째 선택 */
.board_view_div > div:nth-child(-n+2){ 
    padding: 0 10px 0 10px;
}

.board_view_upper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    border-bottom: 2px solid rgb(127, 127, 127);
    font-size: 1.0rem;
}

.board_view_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-bottom: 2px solid rgb(127, 127, 127);
    font-size: 1.0rem;
}

.board_view_under{
    width: 100%;
    min-height: 200px;
    height: auto;
    border-bottom: 2px solid rgb(127, 127, 127);
    padding: 10px;
    white-space: pre-wrap; /* 공백과 개행 모두 보존해서 출력 */
}

.board_btn_div{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.board_btn_div > button{
    width: 100px;
    height: 40px;
    margin-left: 20px;
}